
<div id="headTitle">
    <h1 class="text-center"><b>{{title}}</b></h1>
    <h3 class="text-center">Im Jahr 2017</h3>
</div>
<br />

    <div class="container text-center row">
        <section>
            <h3>{{doornumber}}. Türchen</h3>
            <a href="/1">LOAD DATA</a>
                    <article>
                        <div>Frage: {{Question}}</div>
                        <div>Antwort: {{Answer}}</div>
                    </article>
        </section>
<!--
        <section>
            <h3>Insert</h3>
            <form action="/insert" method="post">
                <div class="input">
                    <label for="title">Titel</label>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="content">Titel</label>
                    <input type="text" id="content" name="content">
                </div>
                <div>
                    <label for="author">Titel</label>
                    <input type="text" id="author" name="author">
                </div>
                <button type="submit">Insert</button>
            </form>
        </section>
-->
    </div>
