
<div class="panel panel-default">
    <div class="panel-body">
    <div class="row">
        <div style="text-align: center">
            <h3>{{message}}</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="row col-sm-offset-2 col-sm-8" style="text-align: center">{{add_on1}}</div>
        <div class="row col-sm-offset-2 col-sm-8" style="text-align: center">{{add_on2}}</div>
    </div>
    <div class="row col-sm-offset-2 col-sm-8" style="text-align: center">
        </br>
        </br>
        </br>
        <p class="text-center"><a href="/">Zurück zur Startseite</a></p>
    </div>
</div>
</div>