<h1>{{title}}</h1>

<div class="col-sm-4">

        <a href="index.hbs">
            1
        </a>
</div>
<div>
    {{# each object}}
        <a href="index.hbs">{{this.day}}</a>
    {{/each}}
</div>
<div id="headTitle">
    <h1 class="text-center"><b>{{title}}</b></h1>
    <h3 class="text-center">Test-Advents-Kalender</h3>
</div>
<br />
<div class="container text-center">
    <h3>Und heute öffnen wir wieder ein Türchen...</h3>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="index.hbs">
                    <img src="~/images/Learning.jpg" class="img-responsive" alt="Lights" style="width:50%">
                    <div class="caption">1</div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="index.hbs">
                    <img src="~/images/Learning.jpg" class="img-responsive" alt="Lights" style="width:50%">
                    <div class="caption">2</div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="index.hbs">
                    <img src="~/images/Learning.jpg" class="img-responsive" alt="Lights" style="width:50%">
                    <div class="caption">3</div>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="index.hbs">
                    <!--<img src="~/images/Learning.jpg" class="img-responsive" alt="Lights" style="width:50%">-->
                    <div class="caption">4</div>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="index.hbs">
                    <!--<img src="~/images/Learning.jpg" class="img-responsive" alt="Lights" style="width:50%">-->
                    <div class="caption">5</div>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="thumbnail">
                <a href="index.hbs">
                    <!--<img src="~/images/Learning.jpg" class="img-responsive" alt="Lights" style="width:50%">-->
                    <div class="caption">6</div>
                </a>
            </div>
        </div>
    </div>
    <h4>Viel Spaß beim Lernen, Quizen und Mitmachen!</h4>
    <br />
</div>